<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />
    <title>Policr - 专注于审核的 Telegram 机器人</title>
    <link rel="stylesheet" href="/lib/bulma-0.7.4/bulma.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script defer src="/js/index.js"></script>
    <script defer src="/lib/fontawesome-5.8.1/all.min.js"></script>
  </head>

  <body>
    <div id="root">
      <nav
        class="navbar has-shadow is-fixed-top"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <strong>Policr</strong>
            </a>

            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/guide">
                <span class="icon has-text-primary">
                  <i class="fas fa-book-reader"></i>
                </span>
                <span>
                  指南
                </span>
              </a>

              <a
                class="navbar-item"
                target="_blank"
                href="https://t.me/policr_community"
              >
                <span class="icon">
                  <i class="fab fa-telegram" style="color:#2994C5"></i>
                </span>
                <span>
                  频道
                </span>
              </a>

              <a
                class="navbar-item"
                target="_blank"
                href="https://github.com/Hentioe/policr/issues"
              >
                <span class="icon">
                  <i class="fas fa-info-circle" style="color:#1C9B5C;"></i>
                </span>
                <span>
                  帮助
                </span>
              </a>

              <a class="navbar-item" href="/admin">
                <span class="icon">
                  <i class="fas fa-cannabis" style="color:#1C619B;"></i>
                </span>
                <span>
                  后台
                </span>
              </a>
              <a class="navbar-item" href="/api">
                <span class="icon">
                  <i class="fas fa-rss-square" style="color:#719B1C;"></i>
                </span>
                <span>
                  接口
                </span>
              </a>
            </div>

            <div class="navbar-end">
              <a
                class="navbar-item"
                href="https://github.com/Hentioe/policr"
                target="_blank"
              >
                <span class="icon" style="color: #333;">
                  <i class="fab fa-lg fa-github-alt"></i>
                </span>
              </a>
              <div class="navbar-item">
                <div class="field is-grouped is-grouped-multiline">
                  <p class="control">
                    <a
                      class="button"
                      target="_blank"
                      style="background:#FF5733;color:white;"
                      href="https://t.me/policr_bot"
                    >
                      <span>
                        <i class="fas fa-robot"></i>&nbsp; 领取机器人
                      </span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <%= content %>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Policr</strong> by
          <a href="https://github.com/Hentioe">Hentioe</a>. The source code is
          licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
          website content is licensed
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
            >CC BY NC SA 4.0</a
          >.
        </p>
      </div>
    </footer>
  </body>
</html>
