<!DOCTYPE html>

<html class="has-navbar-fixed-top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">

  <title>Policr • <%= title %></title>
  <link rel="stylesheet" href="/lib/bulma-0.7.4/bulma.min.css">>
  <script defer src="/lib/fontawesome-5.8.1/all.min.js">
  </script>
</head>

<body>
  <div id="wrapper"></div>
</body>
</html>
